<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.basicprototype">

    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BasicPrototype">
        <activity android:name="LibraryGlideModule.basicprototype.WellbeingActivity$trackerActivity"></activity>
        <activity android:name="LibraryGlideModule.basicprototype.HelpActivity" />
        <activity android:name="LibraryGlideModule.basicprototype.CalendarActivity" />
        <activity android:name="LibraryGlideModule.basicprototype.WellbeingActivity" />
        <activity
            android:name="LibraryGlideModule.basicprototype.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>